<!DOCTYPE html>
<html lang="en">
<head>
 <meta charset="utf-8">
 <link rel="stylesheet" type="text/css" href="/stylesheets/style.css">
 <title>CORE</title>
</head>
<body>
 <h1> COmputación en REd - CORE</h1>
 <a href="/">Home</a>
 <a href="/video">Info Desarrollador</a>
      <div id="sidebar_container">
        <div class="sidebar">
          <h3> Búsqueda</h3>
            <form method="get" action="/posts/search">

              <div class="form_settings" id="search_box">
              <input type="text" id="search_field"name="search">
              <br>
              <br> 
            <input class="submit" type="submit" value="Buscar">  

            </div>
            </form>            
        </div>
        <div class="sidebar">

 <hr />

<%- body %>
 <hr />
 <p>
 Curso 2012-2013
 </p>
  <p> Numero de Visitas: <%- count_mw()%> </p>
</body>
</html>
