
<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body> 

  <h2>Bienvenido a CORE   </h2>
  <p> Video de presentación </p>

<video src="./video/MOV_0005.mp4" 
            width="320" 
            height="240"  
            controls 
            preload 
            autoplay>
    </video>


  </body>
</html>